.profile-container {
  max-width: 600px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.edit-profile{
    text-align: center;
}

.profile-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.profile-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.profile-details {
  text-align: center;
}

.save-btn{
    background-color: #03ff9a;
} 

.edit-btn {
    background-color: #03ff9a;
    width: 80%;
}

.save-btn:hover{
    background-color: #03ff9a;
} 

.edit-btn:hover {
    background-color: #01af6a;
    width: 80%;
}